/* ------------------------index.html-----------------------*/
body *{
  background: #2E2D2D;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #BAB6B6;
  padding-top: 1%;
  display: flex;
  border: 6px solid #D69B5D;
  justify-content: flex-start;
  align-items: center;
}

header img, header ul,header ul li{
  background-color: #BAB6B6;
  color:#573F26;
}

header img {
  background-color: #BAB6B6;
  width: 20%;
  height: 20%;
  padding: 1%;
}

header ul{
  width: 80%;
  display: flex-start;
  justify-content: center;
  padding-right: 2%;
  padding-left: 6%;
}
header ul li{
  display: inline;
  color: #3b3939af;
  letter-spacing: 2px;
  font-size: 120%;
  padding-right: 9.5%;
}

#sectOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fishpic {
  width: 960px;
  height: 450px;
  padding-top: 30px;
  padding-bottom: 10px;

}












/* ------------------------sales.html-----------------------*/
table *{
  border: thin solid black;
}

table {
  border-collapse: collapse;
}